/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 6-giu-2017, 16.36.24
    Author     : enrico
*/

html
{
    overflow-y: scroll;
}

body
{
    background: #acf9a0; 
    font-family: verdana; 
    margin: 0;
}

.pagecontent
{
    padding: 20px;
}


#banner
{
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
}

#banner ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #8b8b8b;
    overflow: hidden;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    
}

#banner li
{
    float: left;
}

#banner li a
{
    display: inline-block;
    color: white;
    padding: 16px;
}

#banner li a:hover, #banner li a:active
{
    color: black;
    background-color: white;
    text-decoration: none;
}

#emptyspace
{
    height: 100px;
}

#divtitle 
{
    
    background-image: url('backg.jpeg');
    background-repeat: repeat-x; 
    background-position: center;
    background-size: 100% 100%;
}

#title
{
    color: black;
    text-align: center;
    font-size: 50px;
    margin: 0;
    text-shadow: 4px 4px 5px grey;
}

#sommario
{
    display: inline-block;
    padding: 25px;
}

#sommario h2
{
    text-align: center;
    display: inline;
}

ul.d 
{
    list-style-type: square; 
    color: green;
    margin: 0;
    padding: 10px;
}

/*
    voglio nascondere il button dell'elemento corrispondente alla lista annidata
*/
ul.d > li:last-child
{
    list-style-type: none;
}

ul.d1 
{
    list-style-type: disc; 
    color: green;
    margin-left: 20px;
    padding: 0;
}

a:link
{
    color: blue;
    text-decoration: none;
}

a:visited 
{
    color: blue;
    text-decoration: none;
}

/*
    non voglio che gli elementi linkati in una stessa pagina abbiano lo stesso effetto hover, dunque assegno
    a tutti i link (tranne ai tag <a> riceventi, ad esempio in descrizione.html) la classe "link"
*/
a.link:hover  
{
    color: red;
    text-decoration: underline;
}

a.link:active 
{
    color: blue;
    text-decoration: underline;
}

#desc p
{
    position: relative;
    left: 20px;
}

#desc h3
{
    position: relative;
    left: 10px;
}

#desc h1, #desc h2
{
    display: inline;
}

#desc
{
    padding: 20px;
}

h1
{
    font-family: "Arial Black";
    text-shadow: 3px 3px 3px grey, -1px -1px black;
    color: darkblue;
}

h2
{
    text-decoration: underline;
}

.greybox
{
    position: relative;
    background-color: #f8f9fa;
    border: 1px solid black;
}

#loginbox
{
    margin: auto;
    width: 40%;
    padding: 20px;
}

.center
{
    text-align: center;
}

input:focus, textarea:focus
{
    background-color: lightgoldenrodyellow;
}

#loginbox input
{
    width: 100%;
    outline: none;
    box-sizing: border-box;
}

#loginbox input[type="submit"]
{
    background-color: darkblue;
    font-weight: bold;
    color: white;
    border: 1px solid white;
    height: 40px;
    border-radius: 4px;
}

#loginbox input[type="submit"]:hover
{
    background-color: #3d3dee;
}

#loginbox input[type="submit"]:focus
{
    background-color: white;
    color: darkblue;
    border: 1px solid darkblue;
}


